# Environment variables
.env

# Database
*.db

# log files
*.log
logs/


# Additional todo files
todo.txt
TODO.txt
TODO.md
todos/
.todo
*.todo

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo
